@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

html, 
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.red-cell {
  color: #fd3c99;
}

.green-cell {
  color: #46acb7;
}

@keyframes jiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  75% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.jiggle-icon:hover {
  animation: jiggle 0.5s 1;
}

.chart-wrapper {
  position: relative;
}

.chart-container {
  position: relative;
  z-index: 99999;
  cursor: default;
}

.tooltip-container {
  position: relative;
  display: block;
  border-style: solid;
  white-space: nowrap;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px;
  transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  border-width: 0px;
  border-radius: 8px;
  color: white;
  font: 14px / 21px "Microsoft YaHei";
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.55);
  top: -2rem;
  /* left: 0; */
  z-index: 99999;
  border-color: rgb(255, 255, 255);
  pointer-events: none;
}
/* Recharts Custom Tooltip */
.tooltip-date {
  font-size: 14px;
  font-weight: bold;
  margin-right: 8px;
}

.tooltip-content {
  display: inline-flex;
  align-items: center;
}

.tooltip-label {
  font-size: 12px;
  color: #777777;
  margin-right: 4px;
}

.tooltip-marker {
  width: 10px;
  height: 10px;
  background-color: #335cd7;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 10px;
}

.tooltip-style {
  display: "inline-flex";
  position: "relative";
  margin-right: "4px";
  border-radius: "10px";
  width: "10px";
  height: "10px";
  background-color: "#335cd7";
}
/* Recharts chart border */
tspan { 
  font-size: 12px;
  fill: #ffedc2;
}

#root > div > div > div > div > div.MuiBox-root.css-w7wi1p > div > div > svg > g.recharts-layer.recharts-brush > rect:nth-child(1) {
  fill: #0d1025;
}

.recharts-wrapper {
  fill: #4d547d !important;
}

.recharts-brush {
  height: 30px;
}

.recharts-brush-slide {
  fill: #21295c !important;
  fill-opacity: 100%;
}

.recharts-brush-traveller {
  stroke: #335cd7;
  stroke-width: 1px;
}

.recharts-brush-texts {
  user-select: none;
}

